<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- TV flavor: same controller codebase, leanback launcher so it shows on Android TV.
         Only ADDS the LEANBACK_LAUNCHER category + leanback feature + banner to the
         shared MainActivity; all other activity attributes come from the main manifest. -->
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:label="RetroLAN"
        android:banner="@drawable/tv_banner"
        android:usesCleartextTraffic="true"
        tools:replace="android:label">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter tools:node="merge">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
